.product {
    display: grid;
    grid-template-columns:
        [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];

    margin-top: 30px;
    padding: 30px;
}

.logo {
    grid-column: start / logoend;
    grid-row: 1 / span 2;
}

.title,
.tags {
    grid-column: titlestart / middle;
}

.price,
.price-title {
    grid-column: pricestart / priceend;

    white-space: nowrap;
}

.credit,
.credit-title {
    grid-column: creditstart / creditend;
}

.rating,
.rate-title {
    grid-column: ratestart / end;

    white-space: nowrap;
}

.hr,
.description,
.actions {
    grid-column: start / end;
}

.actions {
    display: flex;
    gap: 20px;
}

.feature {
    grid-column: start / middle;
}

.logo img {
    border-radius: 5px;
}

.title {
    align-self: flex-end;

    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

.category {
    margin-top: 7px;
}

.price,
.credit {
    display: flex;
    align-items: center;

    align-self: flex-end;

    font-size: 20px;
    line-height: 27px;

    text-wrap: nowrap;
}

.month {
    font-size: 14px;
    line-height: 19px;
}

.old-price {
    margin-left: 7px;
}

.rating {
    align-self: flex-end;
}

.description {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 24px;
}

.price-title,
.credit-title,
.rate-title {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

.advBlock {
    font-size: 16px;
    line-height: 22px;
    grid-column: middle / end;
}

.advTitle {
    margin-bottom: 5px;

    font-weight: bold;
}

.advantages {
    margin-bottom: 20px;
    padding-left: 15px;

    border-left: 2px solid #1DC37E;
}

.disadvantages {
    padding-left: 15px;

    border-left: 2px solid var(--red-color);
}

.characteristics {
    display: grid;
    align-items: baseline;

    padding-right: 60px;

    font-size: 16px;
    line-height: 32px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
}

.characteristics-name {
    font-weight: bold;
}

.characteristics-dots {
    margin-bottom: 5px;

    border-bottom: 1px dashed var(--gray-light);
}

.reviews-wrapper {
    overflow: hidden;
}

.reviews {
    overflow: hidden;

    padding: 30px;
}

.rate-title a {
    color: var(--primary-color);
}

.reviews-content {
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: thin;

    margin-bottom: 30px;
}

.review:last-of-type {
    border: none !important;
}

@media screen and (max-width: 1320px) {
    .product {
        grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
        grid-template-areas:
            "logo . title title title title title"
            "logo . tags tags tags tags tags"
            "price price price . credit . rating"
            "price-title price-title price-title . credit-title . rate-title"
            "hr hr hr hr hr hr hr"
            "description description description description description description description"
            "feature feature feature feature feature feature feature"
            "advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
            "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
            "actions actions actions actions actions actions actions";
    }

    .logo {
        grid-area: logo;

        margin-bottom: 20px;
    }

    .title {
        grid-area: title;
    }

    .tags {
        grid-area: tags;

        margin-bottom: 20px;
    }

    .price {
        grid-area: price;
    }

    .credit {
        grid-area: credit;
    }

    .rating {
        grid-area: rating;
    }

    .price-title {
        grid-area: price-title;
    }

    .credit-title {
        grid-area: credit-title;
    }

    .rate-title {
        grid-area: rate-title;
    }

    .hr {
        grid-area: hr;
    }

    .description {
        grid-area: description;
    }

    .feature {
        grid-area: feature;

        margin-bottom: 20px;
    }

    .advBlock {
        grid-area: advBlock;
    }

    .hr2 {
        grid-area: hr2;
    }

    .actions {
        grid-area: actions;
    }
}

@media screen and (max-width: 640px) {
    .product {
        grid-template-columns: 70px 30px 1fr;
        grid-template-areas:
            "logo . title"
            "logo . tags"
            "price-title price-title price"
            "credit-title credit-title credit"
            "rate-title rate-title rating"
            "hr hr hr"
            "description description description"
            "feature feature feature"
            "advBlock advBlock advBlock"
            "hr2 hr2 hr2"
            "actions actions actions";
    }

    .price {
        margin-bottom: 10px;
    }

    .credit {
        margin-bottom: 10px;
    }

    .rating {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .product {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "title"
            "tags"
            "price"
            "price-title"
            "credit"
            "credit-title"
            "rating"
            "rate-title"
            "hr"
            "description"
            "feature"
            "advBlock"
            "hr2"
            "actions";
    }
}